.form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	width: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	width: 100%;
}
